
@font-face {
                          font-family: "QuatroSlab";
                          src: url('../fonts/Quatro Slab.otf') format("opentype");
                        }
                        
.desktophd {
  min-width           : 1300px;
  height              : 100vh;
  min-height          : 2738px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(0, 21, 27, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophd .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 959px;
  width               : 1705px;
  position            : absolute;
  margin              : 0;
  left                : -265px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .group .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6000px;
  width               : 4000px;
  position            : absolute;
  margin              : 0;
  left                : -1000px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .group .bitmapcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 480px;
  width               : 852px;
  position            : absolute;
  margin              : 0;
  left                : 852px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .group .bitmapcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 479px;
  height              : 480px;
  width               : 852px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .group .bitmapcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 479px;
  height              : 480px;
  width               : 852px;
  position            : absolute;
  margin              : 0;
  left                : 852px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 700px;
  height              : 1251px;
  width               : 1360px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 210px;
  height              : 33px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .group121 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2576px;
  height              : 33px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 1168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 770px;
  height              : 404px;
  width               : 787px;
  position            : absolute;
  margin              : 0;
  left                : 533px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectanglecopy2 {
  background-color    : rgba(0, 179, 163, 0.25);
  top                 : 1238px;
  height              : 361px;
  width               : 1199px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .photo155258053549f1f22dfbcb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1238px;
  height              : 361px;
  width               : 1200px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectanglecopy7 {
  background-color    : rgba(108, 113, 196, 1.0);
  top                 : 1951px;
  height              : 193px;
  width               : 1360px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .wewouldlovetound {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2040px;
  height              : auto;
  width               : 889px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.68;
  font-family         : "QuatroSlab", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.75px;
  line-height         : 22.0px;
}
.desktophd .wewouldlovetound .span1 {
  
}
.desktophd .wewouldlovetound .span2 {
  
}
.desktophd .datadrivenmarketm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 275px;
  height              : auto;
  width               : 580px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "QuatroSlab", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(147, 161, 161, 1.0);
  text-align          : left;
  letter-spacing      : 0.92px;
  line-height         : 37.0px;
}
.desktophd .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2015px;
  height              : 65px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 1050px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .contactus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2040px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "QuatroSlab", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(90, 95, 169, 1.0);
  text-align          : center;
  letter-spacing      : 0.75px;
  line-height         : 22.0px;
}
.desktophd .a251copyright2019six {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2590px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 534px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 179, 163, 1.0);
  text-align          : left;
  letter-spacing      : 0.58px;
  line-height         : 19.0px;
}
.desktophd .linkedin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2590px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(147, 161, 161, 1.0);
  text-align          : left;
  letter-spacing      : 0.58px;
  line-height         : 19.0px;
}
.desktophd .disclosurespolici {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2268px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "QuatroSlab", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 179, 163, 1.0);
  text-align          : left;
  letter-spacing      : 0.75px;
  line-height         : 22.0px;
}
.desktophd .a251copyright2018201 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2320px;
  height              : auto;
  width               : 785px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 179, 163, 1.0);
  text-align          : justify;
  letter-spacing      : 0.58px;
  line-height         : 24.0px;
}
.desktophd .liquidityproviders {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1678px;
  height              : auto;
  width               : 349px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "QuatroSlab", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 21, 27, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 28.0px;
}
.desktophd .exchangesneedliqui {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1734px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(40, 45, 45, 1.0);
  text-align          : left;
  letter-spacing      : 0.75px;
  line-height         : 28.0px;
}
.desktophd .marketmakers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1678px;
  height              : auto;
  width               : 349px;
  position            : absolute;
  margin              : 0;
  left                : 546px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "QuatroSlab", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 21, 27, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 28.0px;
}
.desktophd .weprovidemarketco {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1734px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 546px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(40, 45, 45, 1.0);
  text-align          : left;
  letter-spacing      : 0.75px;
  line-height         : 28.0px;
}
.desktophd .marketmicrostructur {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1679px;
  height              : auto;
  width               : 349px;
  position            : absolute;
  margin              : 0;
  left                : 971px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "QuatroSlab", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 21, 27, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 28.0px;
}
.desktophd .understandinghowma {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1734px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 971px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(40, 45, 45, 1.0);
  text-align          : left;
  letter-spacing      : 0.75px;
  line-height         : 28.0px;
}
.desktophd .rectanglecopy21 {
  background-color    : rgba(0, 179, 163, 1.0);
  top                 : 2728px;
  height              : 10px;
  width               : 3000px;
  position            : absolute;
  margin              : 0;
  left                : -1000px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .ourproprietarytrad {
  background-color    : rgba(255,255,255,0.0);
  top                 : 765px;
  height              : auto;
  width               : 356px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "QuatroSlab", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 21, 27, 1.0);
  text-align          : left;
  letter-spacing      : 1.12px;
  line-height         : 48.0px;
}
.desktophd .weanalizethedata {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1005px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(40, 45, 45, 1.0);
  text-align          : left;
  letter-spacing      : 0.92px;
  line-height         : 34.0px;
}
.desktophd .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 204px;
  height              : 496px;
  width               : 496px;
  position            : absolute;
  margin              : 0;
  left                : 824px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}