/* Table of Content
==================================================
*   01.  Body 
*   02.  
*   03.  
*   04 . 
*   05 . 
*   06 . 
*   07 . 
*   08 . 
*   09 . 
*   10 . 
*   11 . 
*   12 . 
*   13 . 
*   14 . 
*/
/*==========================================
    1.Body sart
==========================================*/
/*========================================
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}
body,
html {
  height: 100%;
}
body {
  font-family: Avenir Next LT Pro;
  line-height: 1.66;
  font-size: 18px;
  color: #292D2D;
  background-color: #00151b;
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
a {
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
a:focus,
button:focus,
input:focus,
text-aria:focus {
  outline: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}
input[type=date],
input[type=email],
input[type=number],
input[type=tel],
input[type=text],
select,
textarea {
  border: 1px solid #ced4da;
}
.fullwide input,
.fullwide select,
.fullwide textarea,
button.fullwide {
  width: 100%;
  margin-bottom: 10px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.d-table {
  width: 100%;
  height: 100%;
}
.d-table-cell {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00151B;
  font-family: Quatro Slab;
  line-height: 1.77;
}
*,
::after,
::before {
  box-sizing: border-box;
}
script,
head {
  display: block;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  max-width: 1360px;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
section,
.row:before {
  clear: both;
  content: "";
  display: block;
}
@font-face {
  font-family: 'Quatro Slab';
  src: url('fonts/hinted-QuatroSlab.eot');
  src: local('Quatro Slab'), local('QuatroSlab'), url('../fonts/hinted-QuatroSlab.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-QuatroSlab.woff2') format('woff2'), url('../fonts/hinted-QuatroSlab.woff') format('woff'), url('../fonts/hinted-QuatroSlab.ttf') format('truetype'), url('../fonts/hinted-QuatroSlab.svg#QuatroSlab') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/hinted-AvenirNextLTPro-Regular.eot');
  src: local('Avenir Next LT Pro Regular'), local('AvenirNextLTPro-Regular'), url('../fonts/hinted-AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-AvenirNextLTPro-Regular.woff2') format('woff2'), url('../fonts/hinted-AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/hinted-AvenirNextLTPro-Regular.ttf') format('truetype'), url('../fonts/hinted-AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.col-lg-4 {
  padding: 0 15px;
  width: 33.333%;
  float: left;
}
.col-lg-6 {
  padding: 0 15px;
  width: 50%;
  float: left;
}
.col-lg-8 {
  width: 66.666%;
  float: left;
  padding-right: 0;
}
/*==========================================
    2.hero area start
==========================================*/
.hero-area {
  padding-top: 205px;
  position: relative;
  z-index: 2;
}
.hero-area .col-lg-6 {
  padding-left: 0;
}
.hero-area .hero-content {
  font-family: 'Quatro Slab';
  padding-right: 40px;
}
.hero-area .hero-content p {
  color: #93A1A1;
  font-size: 22px;
  line-height: 1.68;
  margin-bottom: 120px;
  margin-right: 30px;
}
.hero-area .hero-content a.logo {
  display: inline-block;
  margin-bottom: 35px;
  width: 200px;
}
.hero-area .hero-content a.learn-more-btn {
  display: inline-block;
  color: #00B3A3;
  position: relative;
  padding-left: 27px;
  transition: .7s all;
}
.hero-area .hero-content a.learn-more-btn:hover {
  color: #fff;
}
.hero-area .hero-content a.learn-more-btn:before {
  position: absolute;
  content: "";
  background: url('images/learn-more-btn-sprite.png') no-repeat -14px -3px;
  width: 15px;
  height: 15px;
  left: 0px;
  top: 7px;
  background-repeat: no-repeat;
  transition: .7s all;
}
.hero-area .hero-content a.learn-more-btn:hover:before {
  background: url('images/learn-more-btn-sprite.png') no-repeat -14px -22px;
}
.hero-area .hero-img-shape {
  text-align: right;
}
.hero-area .hero-img-shape img {
  margin-bottom: -10px;
}
/*==========================================
    3.Proprietary Trading Area start
==========================================*/
section.proprietary-trading-area {
  margin-top: 200px;
  position: relative;
}
section.proprietary-trading-area .container.proprietary-bg {
  position: relative;
  z-index: 1;
  padding-top: 70px;
}
section.proprietary-trading-area .container.proprietary-bg:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: -2;
}
section.proprietary-trading-area .container.proprietary-bg .row .proprietary-trading-content h3 {
  font-size: 27px;
  line-height: 1.77;
  padding-right: 50px;
  margin-bottom: 45px;
  transform: translateY(-10px);
  font-weight: normal;
}
section.proprietary-trading-area .container.proprietary-bg .row .proprietary-trading-content p {
  padding-right: 55px;
  font-size: 22px;
  opacity: .75;
}
section.proprietary-trading-area .container.proprietary-bg .absolutale-img {
  position: absolute;
  top: -500px;
  z-index: -1;
  left: 0;
  width: 100%;
}
section.proprietary-trading-area .container.proprietary-bg .absolutale-img img {
  width: 100%;
}
section.proprietary-trading-area .container.proprietary-bg .col-lg-4 {
  padding-left: 0;
}
section.proprietary-trading-area .container.proprietary-bg .col-lg-8 {
  padding-right: 0;
}
section.proprietary-trading-area .container.proprietary-bg .proprietary-trading-img {
  text-align: right;
  display: block;
}
section.proprietary-trading-area .container.proprietary-bg .proprietary-trading-img img {
  display: block;
  width: 100%;
}
section.proprietary-trading-area .container.proprietary-bg .proprietary-trading-img h3 {
  font-size: 27px;
  padding-right: 25px;
  line-height: 1.77;
}
section.proprietary-trading-area .container.proprietary-bg .proprietary-trading-img p {
  font-size: 22px;
  line-height: 1.55;
  margin-top: 45px;
  margin-right: 55px;
}
section.proprietary-trading-area .proprietary-trading-bottom-area-img {
  margin-top: 65px;
}
section.proprietary-trading-area .service-area {
  margin-top: 80px;
  padding-bottom: 105px;
}
section.proprietary-trading-area .service-area .single-sertvice-item {
  padding-right: 8px;
  line-height: 1.55;
  width: 28.16%;
  margin-right: 7.75%;
  float: left;
}
section.proprietary-trading-area .service-area .single-sertvice-item h4 {
  font-size: 24px;
  line-height: 1;
  color: #00151B;
  min-height: 60px;
  opacity: .75;
}
section.proprietary-trading-area .service-area .single-sertvice-item p {
  opacity: .75;
}
section.proprietary-trading-area .service-area .single-sertvice-item:nth-child(3) {
  margin: 0 !important;
}
/* cata area start */
section.cta-area .container {
  background: #6c71c4;
  position: relative;
  z-index: 1;
  padding-top: 66px;
  padding-bottom: 66px;
}
section.cta-area .container .row {
  align-items: center;
}
section.cta-area .container .cta-content {
  width: 66.66%;
}
section.cta-area .container .cta-content p {
  color: #fff;
  font-family: Quatro Slab;
  opacity: .68;
}
section.cta-area .container .cta-btn {
  width: 33%;
  text-align: right;
}
section.cta-area .container .cta-btn a.book-a-demo-btn {
  color: #5B5FA9;
  background: #c8cbff;
  display: inline-block;
  line-height: 1;
  padding: 25px 75px;
  transition: .4s all;
  font-family: Quatro Slab;
}
section.cta-area .container .cta-btn a.book-a-demo-btn:hover {
  background: #ffff;
}
/* footer start */
.footer-area .container {
  border-bottom: 10px solid #00b3a3;
}
.footer-area .row.footer-top {
  padding: 120px 0;
}
.footer-area .row.footer-top .col-lg-8 .single-footer-item {
  padding-right: 0;
}
.footer-area .row.footer-top .col-lg-2.footer-menu {
  width: 15%;
}
.footer-area .row.footer-top .col-lg-2.footer-terms {
  width: 18.33%;
  margin-top: 54px;
  padding-right: 60px;
}
.footer-area .row.footer-top .single-footer-item h4 {
  color: #00B3A3;
  font-size: 18px;
  margin-bottom: 24px;
  opacity: .75;
}
.footer-area .row.footer-top .single-footer-item p {
  font-size: 14px;
  line-height: 1.71;
  color: #00B3A3;
  text-align: justify;
  opacity: .75;
}
.footer-area .row.footer-top .single-footer-item li {
  display: block;
  line-height: 1;
}
.footer-area .row.footer-top .single-footer-item li a {
  display: inline-block;
  color: #00B3A3;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 18px;
  opacity: .75;
  line-height: 1.34;
  transition: .3s all;
}
.footer-area .row.footer-top .single-footer-item li a:hover {
  color: #93A1A1;
}
.footer-area .row.footer-bottom-area {
  align-items: baseline;
  padding-bottom: 115px;
}
.footer-area .row.footer-bottom-area .col-lg-2 {
  width: 16.66%;
}
.footer-area .row.footer-bottom-area .single-footer-bottom-item a {
  color: #00B3A3;
  font-size: 14px;
}
.footer-area .row.footer-bottom-area .single-footer-bottom-item a.linkedin {
  color: #93A1A1;
  transition: .4s all;
}
.footer-area .row.footer-bottom-area .single-footer-bottom-item a.linkedin:hover {
  color: #fff;
  opacity: .75;
}
.footer-area .row.footer-bottom-area .single-footer-bottom-item p {
  color: #00B3A3;
  font-size: 14px;
}
.footer-area .row.footer-bottom-area .footer-logo {
  text-align: right;
  float: right;
  width: 200px;
}
.footer-area .row.footer-bottom-area .copy-right-text {
  opacity: .75;
  text-align: center;
}
/* career page css */
section.career-body-wrapper .container {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}
section.career-hero-area {
  padding: 80px 0;
}
section.career-hero-area .career-logo-area{
  width: 200px;
}
section.career-body-wrapper p {
  margin-bottom: 15px;
}
section.career-body-wrapper p,
section.career-body-wrapper li {
  opacity: .75;
}
section.career-body-wrapper h1 {
  font-size: 27px;
  margin-bottom: 20px;
  display: block;
}
section.career-body-wrapper p {
  font-size: 18px;
  display: block;
  margin-bottom: 25px;
}
section.career-body-wrapper h2 {
  display: block;
  width: 100%;
  font-size: 22px;
  margin-bottom: 15px;
}
section.career-body-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: block;
}
section.career-body-wrapper ul li {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}
section.career-body-wrapper ul li::before {
  position: absolute;
  content: "";
  background: #00b3a3;
  width: 10px;
  height: 10px;
  left: 0;
  top: 8px;
}
section.career-body-wrapper a {
  color: #00b3a3;
  transition: .3s all;
}
section.career-body-wrapper a:hover {
  color: #000;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #00b3a3;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  text-align: center;
  padding-top: 25px;
  position: relative;
}
blockquote:before {
  color: #00b3a3;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-family: arial;
  padding-top: 0;
  position: absolute;
  top: 17px;
}
blockquote p {
  display: inline;
}
section.career-body-wrapper h3 {
  font-size: 22px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
pre {
  background: #404040;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #00b3a3;
}
pre code {
  text-align: left;
  padding: 0;
  margin: 0;
  display: block;
  padding: 10px;
  overflow-x: scroll;
}
section.career-body-wrapper ol {
  padding-left: 20px;
}
section.career-body-wrapper ol li {
  margin-bottom: 15px;
}
section.research-body-wrapper .container {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}
section.research-body-wrapper .col-lg-6 {
  margin: auto;
}
section.research-body-wrapper .col-lg-8 {
  margin: auto;
}
section.research-body-wrapper h3 {
  font-size: 27px;
}
.reasearch-body-content {
  text-align: center;
  margin-bottom: 25px;
}
.reasearch-body-content h3 {
  margin-bottom: 15px;
}
.reasearch-list li {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}
span.list-title {
  width: 30%;
  text-align: right;
  float: left;
  color: #00b3a3;
}
span.list-details {
  width: 70%;
  float: left;
  padding-left: 30px;
}
.reasearch-list li::after {
  content: "";
  clear: both;
  display: block;
}
/* Responsive CSS */
/* Medium Layout: 1280px. */
@media only screen and (min-width: 1200px) and (max-width: 1375px) {
  section.proprietary-trading-area .container.proprietary-bg {
    padding-top: 2%;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1375px) {
  section.proprietary-trading-area .container.proprietary-bg {
    padding-top: 4%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1286px) {
  section.proprietary-trading-area {
    margin-top: 185px;
  }
  .hero-area .hero-content p {
    margin-bottom: 100px;
  }
}
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  section.proprietary-trading-area .container.proprietary-bg {
    padding-top: 0;
  }
  section.proprietary-trading-area {
    margin-top: 225px;
  }
  .hero-area .hero-content p {
    margin-bottom: 60px;
  }
  section.proprietary-trading-area .container.proprietary-bg .row .proprietary-trading-content h3 {
    padding-right: 0;
  }
  .container.proprietary-bg .row {
    transform: translateY(-90px);
  }
  section.hero-area {
    padding-top: 130px;
  }
  section.proprietary-trading-area .service-area .single-sertvice-item h4 {
    min-height: 80px;
  }
  section.proprietary-trading-area .service-area {
    padding-bottom: 0;
  }
  .footer-area .row.footer-top {
    padding: 100px 0;
  }
  .container {
    padding-right: 6%;
    padding-left: 6%;
  }
}
/* Tablet Layout: 768px. */
@media only screen and (max-width: 991px) {
  section.proprietary-trading-area .container.proprietary-bg .absolutale-img {
    display: none;
  }
  section.proprietary-trading-area {
    background: #fff;
  }
  .col-lg-6 {
    width: 100%;
    padding: 0;
  }
  .hero-area .hero-content {
    text-align: center;
  }
  .hero-area {
    padding-top: 150px;
  }
  section.proprietary-trading-area {
    margin-top: 160px;
  }
  .col-lg-4 {
    width: 100%;
    padding: 0;
  }
  .col-lg-8 {
    width: 100%;
    padding: 0;
  }
  section.proprietary-trading-area .container.proprietary-bg .col-lg-8 {
    order: -1;
  }
  section.proprietary-trading-area .container.proprietary-bg .proprietary-trading-img {
    text-align: center;
    margin-bottom: 30px;
  }
  section.proprietary-trading-area .container.proprietary-bg .row .proprietary-trading-content h3 {
    margin-bottom: 0px;
  }
  section.proprietary-trading-area .service-area .single-sertvice-item {
    max-width: 400px;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
  }
  section.proprietary-trading-area .service-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  section.cta-area .container .cta-content {
    width: 100%;
    text-align: center;
  }
  section.cta-area .container .cta-btn {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .footer-area .row.footer-top .col-lg-2.footer-menu {
    width: 100%;
  }
  .row.footer-bottom-area .col-lg-2:nth-child(2) {
    order: -1;
  }
  .proprietary-trading-content {
    text-align: center;
  }
  .col-lg-2.footer-logo-wrapper {
    order: -1;
  }
  .footer-area .row.footer-bottom-area .col-lg-2 {
    width: 100%;
  }
  .footer-area .row.footer-bottom-area .footer-logo {
    text-align: center;
    float: none;
    margin-bottom: 10px;
  }
  .footer-area .row.footer-bottom-area {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .footer-logo a {
    display: inline-block;
  }
  .footer-area .row.footer-bottom-area .single-footer-bottom-item a.linkedin {
    margin-bottom: 7px;
  }
  .hero-area .hero-content {
    padding: 0;
    margin: 0;
  }
  .hero-area .hero-content p {
    padding-right: 0;
    margin-right: 0;
  }
  section.proprietary-trading-area .container.proprietary-bg .row .proprietary-trading-content h3 {
    margin: 0;
    padding: 0;
  }
  section.proprietary-trading-area .container.proprietary-bg .row .proprietary-trading-content p {
    margin: 0;
    padding: 0;
  }
}
/* Tablet & Mobile Layout: 767px. */
@media only screen and (max-width: 767px) {
  .hero-area {
    padding-top: 80px;
  }
  .hero-area .hero-content p {
    margin-bottom: 65px;
  }
  section.proprietary-trading-area {
    margin-top: 115px;
  }
  pre {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .hero-area {
    padding-top: 50px;
  }
  section.proprietary-trading-area {
    margin-top: 80px;
  }
  .hero-area .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .hero-area .hero-content a.logo {
    margin-bottom: 20px;
    width: 200px;
  }
  section.proprietary-trading-area .container.proprietary-bg {
    padding-top: 50px;
  }
  section.proprietary-trading-area .container.proprietary-bg .row .proprietary-trading-content h3 {
    font-size: 22px;
  }
  section.proprietary-trading-area .container.proprietary-bg .row .proprietary-trading-content p {
    font-size: 18px;
  }
  section.proprietary-trading-area .proprietary-trading-bottom-area-img {
    margin-top: 30px;
  }
  section.proprietary-trading-area .service-area {
    margin-top: 50px;
  }
  section.proprietary-trading-area .service-area .single-sertvice-item h4 {
    min-height: 100%;
    margin-bottom: 15px;
    font-size: 20px;
  }
  section.proprietary-trading-area .service-area .single-sertvice-item p {
    font-size: 16px;
  }
  section.cta-area .container .cta-content p {
    font-size: 16px;
  }
  section.proprietary-trading-area .service-area {
    padding-bottom: 50px;
  }
  section.cta-area .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  section.cta-area .container .cta-btn a.book-a-demo-btn {
    padding: 25px 5px;
    width: 100%;
  }
  .footer-area .row.footer-top {
    padding: 50px 0;
  }
  .footer-area .row.footer-bottom-area {
    padding-bottom: 60px;
  }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 1150px) and (max-width: 1200px) {
  .container.proprietary-bg .row {
    transform: translateY(-4%);
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1149px) {
  .container.proprietary-bg .row {
    transform: translateY(-10%);
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1099px) {
  .container.proprietary-bg .row {
    transform: translateY(-12%);
  }
}
